body{
    background-color: white;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 50px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 25px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    display: block;
    width: 450px;
    height: 50px;
    margin: 15px;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    transition: 0.25s;
}

button:hover{
    width: 460px;
    height: 55px;
    background-color: transparent;
    border: solid 3px black;
    color: black;
    box-shadow: 2px, 2px, 10px, black;
}

button:active{
    width: 460px;
    height: 55px;
    background-color: transparent;
    border: solid 3px black;
    color: black;
    box-shadow: 2px, 2px, 10px, black;
    opacity: 0.5;
}

.fiverr-button{
    animation: button-shake 0.5s linear infinite;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    margin: 10px;
    transition: 0.25s;
}

a:hover{
    font-size: 40px;
}

a:active{
    font-size: 40px;
    color: gray;
}

@keyframes button-shake{
    from{
        transform:rotate(-2deg);
    }

    50%{
        transform: rotate(2deg);
        color: lightgreen;
        border-color: lightgreen;
    }

    to{
        transform: rotate(-2deg);
    }
}